#features-menu li a.icon-csflashcards span.icon {
  background:url(images/icon40.png) no-repeat;
}

.feature .feature-atrium_csflashcards {
  background:transparent url(images/icon20.png) no-repeat;
}

.feature-atrium_csflashcards {
  background:url(images/icon20.png) no-repeat !important;
}

/**
 * Collapsible fields
 */

.group-side1 {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
}

html.js group-side1.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 1em;
    margin-bottom: 0;
}

html.js fieldset.collapsed * {
    display: none;
}

html.js fieldset.collapsed legend {
    display: block;
}

html.js fieldset.collapsible legend a {
    background: url("images/menu-expanded.png") no-repeat scroll 5px 75% transparent;
    padding-left: 15px;
}

html.js fieldset.collapsed legend a {
    background-image: url("images/menu-collapsed.png");
    background-position: 5px 50%;
}

* html.js fieldset.collapsed legend, * html.js fieldset.collapsed legend *, * html.js fieldset.collapsed table * {
    display: inline;
 }


html.js fieldset.collapsible {
    position: relative;
}

html.js fieldset.collapsible legend a {
    display: block;
}

html.js fieldset.collapsible .fieldset-wrapper {
    overflow: auto;
}
